@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import "tailwindcss";
@import "normalize.css";

body{
    font-family: "Cascadia Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.green{
    color: #16c60c;
}
.blue{
    color: #3a96dd;
}

.line{
    min-height: 1rem;
    margin-bottom: 0.1rem;
    white-space: pre-wrap;
    font-family: inherit;
}

::selection{
    color: black;
    background: hsl(0, 0%, 85%);
}

.cursor{
    height: calc(1rem - 1px);
    width: 2px;
    background: white;
    border-radius: 1px;
    vertical-align: middle;
}

.cursorAnimate{
    animation: blink 1000ms 200ms;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.space{
    width: 0.8rem;
    height: 1rem;
}

#dvd{
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

    z-index: 100;

    opacity: 0.9;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: calc(1rem - 1px);
  aspect-ratio: 1;
  display: inline-grid;
  vertical-align: middle;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(255 255 255/50%) 30%,#0000 0 70%,rgb(255 255 255/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(255 255 255/25%) 30%,#0000 0 70%,rgb(255 255 255/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}